@import url('https://fonts.googleapis.com/css?family=Proza+Libre');

.App {
  font-family: 'Proza Libre', sans-serif;
  font-size: 16px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.App-content {
  width: 92%;
  max-width: 1020px;
  margin: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.form-field {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.label {
  display: block;
  text-align: left;
  cursor: pointer;
}

.text-input {
  font-size: 1rem;
  padding-left: .5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border: 1px solid #aaeecc;
  outline: 0;
  width: 100%;
  border-radius: 3px;
}

.button {
  padding: .75rem 1.25rem;
  background-color: #eee;
  color: #212121;
  border: 1px solid #212121;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

.error {
  color: red;
}